* {
    padding: 0;
    margin: 0;
  }
  $box-width: 960px;
  $box-height: 540px;
  
  #normal_box {
    padding: 16px;
    height: $box-height;
    width: $box-width;

  }
  
  .img-log {
    width: 5.5px;
    height: 11.5px;
    padding: 0 10px;
  }
  
  .img-title {
    width: 64.5px;
    height: 9.5px;
    font-size: 10px;
    font-family: Source Han Sans CN;
    font-weight: 200;
    color: #E2EBF1;
  }
  
  .img-nav {
    width: 400px;
    height: 4px;
    padding: 0 10px 5px;
  }
  #chart2{
    width: 430px;
  height: 220px;
  background: url('../assets/7.png');
  }